h3.question {
  font-family: "Roboto", sans-serif;
  font-size: 24px;
  text-align: center;
  font-weight: 100;
}

.editor-container {
  width: 900px;
  height: 540px;
  margin: 20px auto;
  position: relative;
}

#editor {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  height: 100%;
  width: 100%;
  font-size: 20px;
}
